html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/InterBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/InterRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --brand-900: #bf7506;
  --brand-500: #dd9c3c;
  --brand-100: #f4debe;
  --neutral-900: #211b12;
  --neutral-500: #83807c;
  --neutral-100: #e0dedc;
  --font-family: "Inter", system-ui;
  --second-family: "Helvetica", system-ui;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  width: 970px;
}

.headerWrapper {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: 24px;
}

.navListItem a {
  line-height: 150%;
  color: var(--brand-900);
}

.active {
  font-weight: 700;
}

.hero {
  padding: 34px 0;
}

.heroWrapper {
  display: flex;
  align-items: center;
  gap: 27px;
}

.heroTitle {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--neutral-900);
}

.heroHeading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: var(--neutral-900);
}

.heroHeadingSpan {
  color: var(--brand-900);
}
.social {
  display: flex;
  align-items: center;
  gap: 55px;
}

.socialList {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cvDownload {
  padding: 7px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid var(--brand-900);
}

.cvText {
  display: inline-block;
  font-weight: 700;
  line-height: 150%;
  color: var(--neutral-900);
}

.projects {
  padding: 38px 0;
}

.projectsTitle {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--brand-900);
}

.cards {
  display: flex;
  gap: 72px;
}

.card {
  width: calc((870px - 72px) / 2);
}

.card img {
  max-width: 100%;
}

.cardWrapper {
  padding: 16px 16px 16px 0;
}

.cardTitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: var(--brand-900);
}

.tags {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.tagsItem {
  padding: 5px 8px 4px;
  height: 27px;
  border-radius: 4px;
  border: 1px solid var(--brand-500);
}

.cardText {
  margin: 0;
  margin-bottom: 17px;
  line-height: 150%;
  color: var(--neutral-900);
}

.cardButtons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cardLink {
  padding: 7px 8px 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid var(--brand-900);
}

.cardLinkText {
  display: inline-block;
  font-weight: 700;
  line-height: 150%;
  color: var(--neutral-900);
}

.developer {
  padding: 82px 0 60px 0;
}

.developerWrapper {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 56px;
}

.developerImage img {
  width: 360px;
  height: 440px;
  border-radius: 20px;
}

.developerHello {
  margin-bottom: 4px;
  display: block;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: var(--neutral-900);
}

.developerTitle {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--brand-900);
}

.developerText {
  margin: 0;
  margin-bottom: 16px;
  line-height: 150%;
  color: var(--neutral-900);
}

.motto {
  margin-bottom: 16px;
  display: block;
  font-family: var(--second-family);
  font-size: 24px;
  line-height: 150%;
  color: var(--brand-500);
}

.developerDescr {
  margin: 0;
  margin-bottom: 32px;
  line-height: 150%;
  color: var(--neutral-900);
}

.developerSign {
  max-width: 200px;
}

.skillsTitle {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: var(--neutral-900);
}

.feedback {
  position: relative;
  padding: 60px 0 120px 0;
}

.feedbackImg {
  position: absolute;
  width: 25%;
  right: 0;
  top: 15%;
}

.feedbackWrapper {
  margin: 0 auto;
  max-width: 435px;
}

.feedbackTitle {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--neutral-900);
}

.inputGroup {
  margin-bottom: 24px;
  padding: 9px 0 0 0;
  position: relative;
}

.label {
  padding: 0 8px;
  position: absolute;
  top: 0;
  left: 16px;
  line-height: 150%;
  background-color: #ffffff;
  color: var(--neutral-500);
}

.input {
  padding: 16px;
  width: 100%;
  height: 56px;
  border-radius: 4px;
  border: 3px solid var(--neutral-100);
  background-color: #ffffff;
}

.textarea {
  min-height: 131px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.footer {
  padding: 47px 0 16px 0;
}
.footerDescr {
  margin: 0;
  line-height: 150%;
  text-align: center;
  color: var(--neutral-500);
}

@media (max-width: 1024px) {
  .container {
    max-width: 860px;
  }

  .cards {
    gap: 50px;
  }

  .card {
    width: calc((760px - 50px) / 2);
  }

  .cardTitle {
    font-size: 22px;
  }
}

@media (max-width: 790px) {
  .container {
    max-width: 676px;
  }

  .heroImg img {
    max-width: 150px;
  }

  .heroTitle {
    font-size: 36px;
  }

  .heroHeading {
    font-size: 18px;
  }

  .social {
    gap: 5px;
  }

  .cvText {
    font-size: 14px;
  }

  .projectsTitle {
    font-size: 36px;
  }

  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 100%;
  }

  .developerWrapper {
    flex-direction: column;
  }

  .developerImage {
    width: 100%;
  }

  .developerImage img {
    width: 100%;
  }

  .developerTitle {
    font-size: 36px;
  }

  .feedback {
    padding-bottom: 60px;
  }

  .feedbackImg {
    display: none;
  }

  .footer {
    padding: 16px 0;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  .headerWrapper {
    flex-direction: column;
    gap: 24px;
  }

  .hero {
    padding: 15px 0;
  }

  .heroWrapper {
    flex-direction: column;
    text-align: center;
  }

  .social {
    flex-direction: column;
  }

  .cvText {
    font-size: 16px;
  }

  .tags {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .navList {
    flex-direction: column;
    gap: 5px;
  }

  .feedbackTitle {
    font-size: 28px;
  }
}